.Button {
  padding: 5px 10px;
  margin: 5px;
  color: var(--inverted-primary-color);
  cursor: pointer;
  outline: none;
}

.clear {
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
  background: none;
  border: none;
}

.outline {
  padding: 10px 15px;
  margin: 0;
  color: var(--primary-color);
  background: none;
  border: 1px solid var(--primary-color);
}
