.app_blue_theme {
  --bg-color: #f4f9fb;
  --inverted-bg-color: #00b3f4;
  --primary-color: #00b3f4;
  --secondary-color: #00cc8b;
  --inverted-primary-color: #f4f9fb;
  --inverted-secondary-color: #00cc8b;
  --link-color: deepskyblue;
}
