.app.dark {
  --bg-color: black;
  --inverted-bg-color: white;
  --primary-color: white;
  --secondary-color: #fe0;
  --inverted-primary-color: red;
  --inverted-secondary-color: blue;
  --link-color: deepskyblue;
}
