:root {
  --bg-color: white;
  --inverted-bg-color: black;
  --primary-color: red;
  --secondary-color: #00ffe5;
  --inverted-primary-color: #ff6e20;
  --inverted-secondary-color: white;
  --link-color: deepskyblue;
}
