.ProfileCard {
  padding: 20px;
  border: spx solid var(--inverted-bg-color);
}

.header {
  display: flex;
}

.editBtn {
  margin-left: auto;
}

.data {
  margin-top: 30px;
}

.input {
  margin-top: 10px;
}
