.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input,
.currency {
  margin-top: 10px;
}

.loading {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 200px;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.editing {
  border-color: var(--inverted-primary-color);
}
